body {
    background-color: darkgray;
    font-family: 'Press Start 2P', cursive;
    margin: 0;
    text-align: center;
    padding: 0;
}

h1 {
    color: blue;
    margin-top: 25px;
}

h2 {
    color: rgb(46, 46, 46); 
}

label {
    font-weight: bold;
    color: rgb(46, 46, 46); 
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="password"],
select {
    padding: 5px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    background-color: white;
    color: #333;
}

input[type="submit"] {
    background-color: rgb(62, 111, 62);
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    color: white;
}

input[type="submit"]:hover {
    background-color: #305a45;
}

section {
    background-color: #458063;
    margin: auto;
    margin-bottom: 15px;
    border: none;
    border-radius: 10px;
    width: fit-content;
    padding: 10px;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 5px 0;
    padding: 5px;
    background-color: #fff;
    border-radius: 5px;
}

li.selected {
    background-color: #a3d2ca;
}
