/* Reset default styles */
body {
    background-color: #131313; /* Very Dark Gray */
    font-family: 'Press Start 2P', cursive;
    margin: 0;
    text-align: center;
    padding: 0;
}

h1 {
    color: #1561F0; /* Dark Blue */
    margin-top: 25px;
}

h2, h3 {
    color: #c7c7cb; /* Light Gray */
}

label {
    font-weight: bold;
    color: #c7c7cb; /* Light Gray */
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="password"],
select {
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #fff; /* White Border */
    border-radius: 5px;
    font-size: 15px;
    background-color: #2B2B2B; /* Dark Gray */
    color: #c7c7cb; /* Light Gray */
}

input[type="submit"],
button {
    background-color: #1561F0; /* Dark Blue */
    padding: 8px 20px; /* Adjusted Padding */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    color: #fff; /* White Text */
    transition: background-color 0.3s; /* Smooth transition on hover */
}

button.cancelButton {
    padding: 8px 10px; /* Adjusted Padding */
    margin-left: 15px;
}

button:hover {
    background-color: #0F48B0; /* Slightly Darker Blue */
}

input[type="submit"]:hover {
    background-color: #0F48B0; /* Slightly Darker Blue */
}

/* Adjusted color for available stations */
#availableStations {
    color: #fff; /* White Text */
}

#createAccountMessage,
#showName,
#showEmail,
#showPhoneNumber,
#usernameDisplay,
#passwordChangeMessage,
#helloMessage {
    color: #fff;
}

section {
    background-color: #2B2B2B; /* Dark Gray */
    margin: auto;
    margin-bottom: 15px;
    border: none;
    border-radius: 10px;
    width: fit-content;
    padding: 10px;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 5px 0;
    padding: 5px;
    background-color: #c7c7cb; /* Light Gray */
    color: #131313;
    border-radius: 5px;
}

li.selected {
    background-color: #2B2B2B; /* Dark Gray */
}